<script id="allcompanies-template" type="text/kendo-x-template">
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Royal Reesink NV
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/RSS">Reesink Support BV</a>
            </li>
            <li>
                <a href="Profiles/NV">Royal Reesink NV</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Reesink Agricultural Machinery
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/RTH">Reesink Technische Handel BV</a>
            </li>
            <li>
                <a href="Profiles/PACKO">Packo NV</a>
            </li>
            <li>
                <a href="Profiles/RTU">Reesink Turkey BV</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Kamps de Wild Holding
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/KDW">Kamps de Wild BV</a>
            </li>
            <li>
                <a href="Profiles/CTADE">CT Agro GmbH</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Smart Farming
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/AGRNL">Agrometius BV</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Reesink Construction Equipment
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/KBAR">Barend Kemp BV</a>
            </li>
            <li>
                <a href="Profiles/KBVBA">Kemp BVBA</a>
            </li>
            <li>
                <a href="Profiles/HS">Huur &amp; Stuur BV</a>
            </li>
            <li>
                <a href="Profiles/HVD">Hans van Driel BV</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Reesink Material Handling Equipment
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/MIT">Motrac Intern Transport BV</a>
            </li>
            <li>
                <a href="Profiles/PELZER">Pelzer F&ouml;rdertechnik GmbH</a>
            </li>
            <li>
                <a href="Profiles/MHC">Motrac Handling &amp; Cleaning N.V.</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Reesink Industries
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/STA">Reesink Staal BV</a>
            </li>
            <li>
                <a href="Profiles/SCI">Safety Centre International BV</a>
            </li>
            <li>
                <a href="Profiles/RSC">Reesink Safety Centre BV</a>
            </li>
            <li>
                <a href="Profiles/MHNLDE">Motrac Hydraulics</a>
            </li>
        </ul>
    </div>
    <div class="large-3 medium-3 small-12 columns item">
        <h3>
            Reesink Turfcare
        </h3>
        <ul class="links">
            <li>
                <a href="Profiles/JH">Jean Heybroek BV</a>
            </li>
            <li>
                <a href="Profiles/RTCUK">Reesink Turfcare UK limited</a>
            </li>
            <li>
                <a href="Profiles/RTCIE">Reesink Turfcare IRE limited</a>
            </li>
            <li>
                <a href="Profiles/RTCDK">Reesink Turfcare DK A/S</a>
            </li>
            <li>
                <a href="Profiles/SDL">Stierman De Leeuw BV</a>
            </li>
        </ul>
    </div>
</script>
