    <script>
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/RRCfg.js' type='text/javascript'%3E%3C/script%3E"));
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/app.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
		if (typeof jQuery === 'undefined') {
			document.write(decodeURIComponent("%3Cscript src='https://code.jquery.com/jquery-2.2.2.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
    </script>
    <!--
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>
    -->
    <script src="https://kendo.cdn.telerik.com/2016.1.112/js/kendo.all.min.js"></script>
    <script>
        if (typeof kendo == 'undefined') { 
            document.write(decodeURIComponent('%3Clink rel="stylesheet" href="' + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + '/siteassets/css/kendo.common.min.css" /%3E'));
            document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/kendo.all.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script>
        document.write(decodeURIComponent("%3Cscript src='https://c64.assets-yammer.com/assets/platform_js_sdk.js' data-app-id='" + RRCfg.yammer_client_id + "' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/kendo.custom.js' type='text/javascript'%3E%3C/script%3E"));
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/js.cookie.js' type='text/javascript'%3E%3C/script%3E"));
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/moment-with-locales.js' type='text/javascript'%3E%3C/script%3E"));
		document.write(decodeURIComponent("%3Cscript src='" + _spPageContextInfo.siteServerRelativeUrl.replace(/\/$/,'') + "/siteassets/js/RRApp.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
